.explanation__component {
    position: absolute;
    top: 170px;
    right: 20%;
    z-index: 999;
}

.explanation__gallery {
    position: absolute;
    top: 110px;
    left: 50%;
    z-index: 999;
}

.explanation__state {
    position: absolute;
    top: 40px;
    left: 25%;
    z-index: 999;
}