a {
    text-decoration: none;
}

.MuiCardMedia-img {
    object-fit: contain !important;
    margin: 10px;
}

.MuiTypography-h5 {
    text-align: center;
}

.MuiCardContent-root {
    min-height: 255px;
    position: relative;
    .stack {
        margin-top: 10px;
        font-weight: bold;
        font-size: 0.8rem;
    }

    ul {
        li {
            margin: 3px 0;

            i {
                margin-right: 5px;
            }
        }
    }
}

.url__button {
    margin: 0 auto !important;
    position: absolute;
    bottom: 5px;
}