.header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color:#3F51B5;
    color: #fff;
    .social-links {
        li {
            display: inline-block;
            padding: 0 5px;
        }

        i {
            color: #fff;
            font-size: 1.4rem;
            margin: 0 5px;
        }
    }

    .title {
        margin: 10px 0 5px;
        font-size: 16px;
    }

    .subtitle {
        margin: 0;
        font-size: 12px;
    }
}

ul {
    list-style: none;
}

li {
    padding: 2px 20px;
}

.explanation-div {
    position: absolute;
    top: -15px;
    right: 0px;
}

.explanation::before {
    color: #fff;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

/* Standard syntax */
@keyframes example {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@media (min-width: 1024px) {
    .content {
        .title {
            margin: 0;
            font-size: 24px;
        }

        .subtitle {
            margin: 0;
            font-size: 16px;
        }
    }
}