.gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 1024px) {
    .gallery__container {
        flex-direction: row;
        padding: 0 40px;
    }
}